.work {
    width: 350px;
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon {
    height: 250px;
    width: 100%;
    background-color: beige;
}


.workText {
    background: palegreen;
    width: 100%;
    text-align: left;
    padding: 0 20px;

}
