.worksBlock {
    height: 100vh;
    background-color: #bc98d0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.worksContainer {
    background-color: #e0d1e8;
    width: 80%;
}

.title {
    background-color: palegreen;
}

.workArea {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*.worksStyle {*/
/*    border: 1px solid firebrick;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
